# ETAPA DE LIMPIEZA

In [17]:
import pandas as pd

In [18]:
attacks = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

In [19]:
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Limpieza del DataFrame

Empezamos gestionando los null encontrados en la exploración inicial.

   1. Eliminamos columnas "Unnamed: 22" y "Unnamed: 23".

In [20]:
attacks.drop(["Unnamed: 22", "Unnamed: 23"], axis=1, inplace=True)

   2. Eliminamos los registros en los que todos los valores son nulos.

In [21]:
attacks.dropna(how="all", inplace=True)

   3. Eliminamos todos los registros en los que todos los valores sean NaN, excepto el Case Number (no aporta valor).

   3. 1. Eliminamos todos los registros en los que el Case Number sea igual a 0 (porque en principio todos los registros con Case Number = 0 tienen NaN en el resto de valores).

In [22]:
attacks.loc[(attacks["Case Number"] == "0")]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
attacks.drop(attacks[(attacks["Case Number"] == "0")].index, inplace=True)

In [24]:
attacks.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

   3. 2. Eliminamos el registro con "xx" en la columna "Case Number" porque observamos que el resto de valores son NaN.

In [25]:
attacks.loc[(attacks["Case Number"] == "xx")]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
attacks.drop(attacks[(attacks["Case Number"] == "xx")].index, inplace=True)

In [27]:
attacks.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

   4. Cambiamos el nombre de las columnas para trabajar con ellas sin problemas.

In [28]:
attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [29]:
attacks.columns = ["case_number", "date", "year", "type", "country", "area", "location", "activity", "name", "sex", "age", "injury", "fatal_y/n", "time", "species", "investigator_or_source", "pdf", "href_formula", "href", "case_number.1", "case_number.2", "original_order"]

In [30]:
attacks.columns # Observamos como los nombres han cambiado.

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_y/n', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'],
      dtype='object')

   5. Eliminamos "Case Number 1" y "Case Number 2" si comprobamos que esta información no aporta valor.

   5. 2. Comprobamos si estas columnas son duplicados de "Case Number" (motivo de eliminación directa).

In [31]:
attacks["case_number"].equals(attacks["case_number.1"])

False

In [32]:
attacks["case_number"].equals(attacks["case_number.2"])

False

In [33]:
attacks["case_number.1"].equals(attacks["case_number.2"])

False

   Observamos que esta hipótesis no se cumple.
   
   Aun así, confirmamos que las dos columnas pretenden asignar un ID único a cada registro (algo que ya hace "Case Number"). No nos aportan información adicional, por lo que decidimos eliminar las columnas (no podremos hacerlo a través de métodos relacionados con duplicates porque no son duplicados, así que lo haremos mediante .drop

In [34]:
attacks.drop(["case_number.1", "case_number.2"], axis=1, inplace=True)

In [35]:
attacks.sample(50) # Observamos como las columnas se han eliminado.

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y/n,time,species,investigator_or_source,pdf,href_formula,href,original_order
2716,1988.09.13.a,13-Sep-1988,1988.0,Unprovoked,USA,Florida,"Shell Island Panama City Beach, Bay County",Snorkeling,John P. Martin,M,38,"FATAL, thigh & hand lacerated",Y,15h00,3 m [10'] bull shark,"M. Womack, News Herald",1988.09.13.a-Martin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3587.0
3938,1961.00.00.d,1961,1961.0,Unprovoked,NEW CALEDONIA,NaN,NaN,Spearfishing,NaN,NaN,NaN,Arm injured,N,NaN,NaN,SAF Case #1109,1961.00.00.d-NV-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2365.0
1343,2007.08.20,20-Aug-2007,2007.0,Provoked,USA,Delaware,"Indian River Inlet, Rehoboth Beach",Fishing,male,M,NaN,Forearm bitten by hooked shark PROVOKED INCIDENT,N,19h45,Sandtiger shark,"Delaware Coast Press, 8/24/2007",2007.08.20-DelawareFisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4960.0
981,2010.10.02.b,02-Oct-2010,2010.0,Unprovoked,BAHAMAS,Exuma Islands,NaN,Snorkeling,Jose Molla,M,NaN,Calf bitten,N,NaN,Lemon shark,Sharksurvivors.com,2010.10.02.b-Molla.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5322.0
2257,1997.04.20,20-Apr-1997,1997.0,Unprovoked,BRAZIL,Rio de Janeiro,"Manguinhos, Ilha Feia, Búzios",Windsurfing,João Pedro Portinari Leão,M,22,Lower left leg & ankle bitten,N,NaN,3.7m to 4.2 m white shark,"O. Gadig; Globo, 4/24/1997",1997.04.20-Leao.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4046.0
1536,2005.10.21,21-Oct-2005,2005.0,Unprovoked,USA,California,"Klamath River mouth, Del Norte County",Surfing,Chad Reiker,M,36,No injury,N,11h00,White shark,"R. Collier, GSAF",2005.10.21-Reiker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4767.0
2277,1996.10.03.b,03-Oct-1996,1996.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Surfing,Aric Hollingsworth,M,21,"4"" laceration on left forearm",N,08h30,1.2 m [4'] shark,"Orlando Sentinel, 10/4/1996",1996.10.03.b-Hollingsworth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4026.0
362,2015.09.18,18-Sep-2015,2015.0,Unprovoked,USA,Florida,"Big Talbot Island, Duval County",Swimming,Peter Vergenz,M,NaN,Lacerations to calf,N,19h00,NaN,"Action News Jax, 9/23/2015",2015.09.18-Vergenz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5941.0
883,2011.08.17.a,17-Aug-2011,2011.0,Unprovoked,RUSSIA,"Telyakovsky Bay, Khasan, Primorsky Krai (Far ...",Vityaz,Swimming,Denis Udovenko,M,25,Hands severed,N,Evening,4 m shark,"AsiaOne, 8/17/2011",2011.08.17.a-Udovenko.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5420.0
1903,2001.09.13,13-Sep-2001,2001.0,Provoked,UNITED KINGDOM,Cheshire,"Blue Planet Aquarium, Ellesmere Port",Diving,NaN,M,NaN,Head bitten by captive shark PROVOKED INCIDENT,N,NaN,12' sandtiger shark,"Daily Post, 9/14/2001",2001.09.13-Aquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4400.0
4913,1935.03.30,30-Mar-1935,1935.0,Unprovoked,AUSTRALIA,Queensland,Barrier Reef off Mackay,Diving from dinghy for trochus shell,"Samuel, a Thursday islander",M,NaN,Buttocks injured by fin or a bump,N,Afternoon,NaN,"G.P. Whitley citing the Sydney Morning Herald,...",1935.03.30-Samuel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1390.0
161,2017.04.10.b,10-Apr-2017,2017.0,Unprovoked,USA,Florida,"Melbourne Beach, Brevard County",Paddle boarding,female,F,10,Laceration to calf,N,17h45,NaN,"Brevard Times, 4/10/2017",2017.04.10.b-Melbourne.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6142.0
4276,1955.11.00,Nov-1955,1955.0,Unprovoked,PAPUA NEW GUINEA,"Admiralty Islands, Manus Province","Low Island, Manus",Spearfishing,male,M,NaN,Right arm severely bitten,N,NaN,NaN,"Rapson, p.149",1955.11.00-LowIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2027.0
903,2011.06.29,29-Jun-2011,2011.0,Unprovoked,BRAZIL,Pernambuco,Praia do Pina,Surfing,Malisson Lima,M,21,Lacerations to right thigh,N,10h00,NaN,"USA Today, 6/29/2011",2011.06.29-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5400.0
647,2013.07.29.b,29-Jul-2013,2013.0,Unprovoked,MEXICO,Quintana Roo,NaN,Wading,Bonnie Davis,F,NaN,Hip bitten,N,11h00,NaN,"A. Brenneka, Shark Attack Survivors",2013.07.29.b-Davis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5656.0
1632,2004.10.09.b,09-Oct-2004,2004.0,Unprovoked,USA,Hawaii,Moloka'i,Spearfishing,Davy Sanada,M,34,Left shoulder bitten,N,12h40,"Tiger shark, 2.4 m to 3.7 m [8' to 12']","The Maui News, 10/10/2004",2004.10.09.b-Sanada.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4671.0
3898,1961.05.17,17-May-1961,1961.0,Unprovoked,NEW BRITAIN,East New Britain Province,Kokopo,Collecting dynamited fish,male,M,NaN,Thumb & 2 fingers severed,N,NaN,NaN,"A.M. Rapson, p. 150]",1961.05.17-Kokopo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2405.0
1186,2008.12.06,06-Dec-2006,2008.0,Boating,AUSTRALIA,New South Wales,Mowarry Point,Fishing,"6 m Seaduce - Occupants: Allen Roberts, Jason ...",NaN,NaN,Shark bit boats sea anchor,N,Morning,"White shark, 4.5 to 5 m",S. Chenhall,2008.12.06-boat_Seaducer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5117.0
3951,1960.11.00.c,Nov-1960,1960.0,Provoked,NEW GUINEA,Western District,Toro Passage,NaN,Fisheries trainee,M,NaN,Left wrist bitten by netted shark placed in bo...,N,NaN,"1.4 m [4'6""] blacktip shark","A.M. Rapson, p.147",1960.11.00.c-ToroPassage.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2352.0
1241,2008.06.28.b,28-Jun-2008,2008.0,Unprovoked,BAHAMAS,Abaco Islands,NaN,Spearfishing,Max Briggs,M,42,Lacerations to calf,N,11h00,"Bull shark, 6' to 7'","M. Briggs; C. Johansson, GSAF",2008.06.28.b-Briggs.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5062.0
4109,1959.02.02,02-Feb-1959 Reported,1959.0,Unprovoked,SOLOMON ISLANDS,Guadalcanal Province,"Trenchs Beach, Guadalcanal Island",Bathing with sister,Donald Battye or David James Battye,M,15,"FATAL, body not recovered",Y,17h00,NaN,"Note: V.M. Coppleson (1962), p.248, lists date...",1959.02.02-Battye.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2194.0
2430,1994.07.08.b,08-Jul-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,"Boa Viagem, Recife",Surfing,Sandro Paulo dos Santos,M,NaN,Survived,N,NaN,NaN,JCOnline,1994.07.08.b-SandroPaulosDosSantos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3873.0
1153,2009.03.01.a,01-Mar-2009,2009.0,Unprovoked,AUSTRALIA,New South Wales,Avalon,Surfing,Andrew Lindop,M,15,Lacerations to leg,N,06h45,2.6 m shark,"Sunday Telegraph, 3/1/2009",2009.03.01-Lindop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5150.0
3618,1965.06.19,19-Jun-1965,1965.0,Invalid,USA,Florida,"In front of Key Biscayne Beach Club, Key Biscayne",Wading,Eugene Rihl III,M,6,Parallel lacerations on right calf. Thought to...,NaN,NaN,Questionable incident,"Miami Herald, 6/20/1965; SAF Case #1372",1965.06.19-Rihl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2685.0
859,2011.09.30,30-Sep-2011,2011.0,Invalid,USA,Puerto Rico,Hatillo Beach,Surfing,Rafael Colón Casanova,M,27,Lacerations to lower right leg,NaN,09h50,No shark involvement,"El Nuevodia, 9/30/2011",2011.09.30-Casanova.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5444.0
3214,1975.07.30.a,30-Jul-1975,1975.0,Unprovoked,AUSTRALIA,Tasmania,"Fluted Cape, Bruny Island",Scuba diving for abalone,Robert Slack,M,37,FATAL,Y,Afternoon,White shark,"Times, 8/1/1975, Yuma Daily Sun, 8/1/1975; C. ...",1975.07.30.a-Slack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3089.0
3255,1974.09.00,Sep-1974,1974.0,Unprovoked,USA,Oregon,Myers Creek,Surfing,Curt Brown,M,24,No injury,N,Morning,"White shark, 4.5 m",R. Collier,1974.09.00-Brown_Collier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3048.0
658,2013.07.02,02-Jul-2013,2013.0,Unprovoked,AUSTRALIA,Victoria,"Flinders, Mornington Penisula",Body surfing,Jimmy McDonald-Jones,M,29,"No injury, holes in wetsuit",N,NaN,NaN,"Herald Sun, 7/3/2013",2013.07.02-McDonald-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5645.0
387,2015.07.23.a,23-Jul-2015,2015.0,Unprovoked,AUSTRALIA,Victoria,Tyrendarra Beach near Portland,Surfing,male,M,40,Left hand bitten,N,NaN,"Bronze whaler shark, 1.5m","ABC News, 7/27/2015",2015.07.23.a-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5916.0
2650,1989.12.03,03- Dec-1989,1989.0,Unprovoked,AUSTRALIA,Northern Territory,Gove Peninsula near Darwin,NaN,Ryan Johnson,M,17,"No details, ""recovering in Darwin Hospital""",UNKNOWN,NaN,"Tiger shark, 2m","Courier-Mail, 12/6/1989",1989.12.03-Johnson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3653.0
4716,1942.03.04,04-Mar-1942,1942.0,Invalid,AUSTRALIA,New South Wales,Georges River,NaN,Ronald J. Bishop,M,18,"Cause of death was drowning, shark bites were ...",NaN,NaN,Invalid,"G.P. Whitley (1951), p. 192, cites Sun (Sydney...",1942.03.04-Bishop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1587.0
519,2014.08.08,08-Aug-2014,2014.0,Unprovoked,USA,Louisiana,"Lake Ponchartain off Southshore Harbor, New Or...",Swimming,Trent Trentacosta,M,7,Minor lacerations to left heel and big toe,N,Afternoon,"Bull shark, 5'","The Times-Picayune, 8/9/2014",2014.08.08-Trentacosta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5784.0
1587,2005.05.15,15-May-2005,2005.0,Unprovoked,AUSTRALIA,Queensland,50 km east of Townsville,Spearfishing,Ben Edelstein,M,NaN,Severe injury to lower leg,N,NaN,Blacktip shark,"J. Anderson, Townsville Bulletin, 5/21/2005",2005.05.15-Edelstein.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4716.0
4887,1936.02.20..R,Reported 20-Feb-1936,1936.0,Unprovoked,AUSTRALIA,Queensland,Brisbane River,Sculling,C.E. Slaughter,M,NaN,"No injury, scull sank",N,NaN,10' shark,"Nevada State Journal, 5/2/1936",1936.02.20.R-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1416.0
641,2013.08.11,11-Aug-2013,2013.0,Unprovoked,USA,South Carolina,Folly Beach,Surfing,Tyson Royston,M,10,"No injury, shark became entangled in his surfb...",N,17h30,"Bull shark, 8'","Post and Courier, 8/11/2013",2013.08.11-Royston.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5662.0
5530,1902.08.28.R,Reported 29-Aug-1902,1902.0,Unprovoked,ITALY,Calabria,Nicotera,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1902.08.28.R-Nicotera.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,773.0
3783,1962.11.00,Nov-1962,1962.0,Sea Disaster,MID ATLANTIC OCEAN,NaN,Off Bermuda,Abandoning burning ship Captain George in ragi...,"Martin Fisher, radio operator",M,NaN,"No injury, shark bit his boot",N,06h00,NaN,Press clippings,1962.11.00-Fisher.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2520.0
3720,1963.12.22.a,22-Dec-1963,1963.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,"Next to West Street groyne, Durban",Helping friend land hooked shark,Desmond Woodhams,M,13,Foot lacerated PROVOKED INCIDENT,N,18h30,"Dusky shark, 1 m","M. Levine, GSAF",1963.12.22.a-Woodhams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2583.0
963,2010.12.01.a,01-Dec-2010,2010.0,Unprovoked,EGYPT,South Sinai Peninsula,"Ras Nasrani, Sharm el-Sheikh",Snorkeling,Viktor Koliy,M,46,Lacerations to right leg,N,10h55,Mako shark,"M. Levine, R. Collier, E. Ritter, M. Fouda, et al",2010.12.01.a-Viktor-Koliy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5340.0
1610,2005.02.22,22-Feb-2005,2005.0,Provoked,USA,Florida,"Long Key, Monroe County",Spearfishing,Alex Mumzhiu,M,NaN,Speared shark bit his chest PROVOKED INCIDENT,N,NaN,"Nurse shark, 3'",http://www.foldabikes.com/CurrentEvents/Story/...,2005.02.22-AlexMumzhiu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4693.0
484,2014.10.19,19-Oct-2014,2014.0,Boating,USA,California,"Leadbetter Beach, Santa Barbara County",Canoeing,Tara Burnley,F,NaN,"No injury to occupant, canoe bitten",N,NaN,NaN,"R. Collier, GSAF",2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5819.0
2158,1998.10.10,10-Oct-1998,1998.0,Unprovoked,USA,Florida,"Sebastian Inlet, Indian River County",Surfing,Jarod Ruszkowski,M,NaN,Right hand bitten,N,NaN,NaN,"Sarasota Herald-Tribune, 10/13/1998",1998.10.10-Ruszkowski.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4145.0
2139,1999.01.13,13-Jan-1999,1999.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Bonza Beach,Paddle Skiing,Evan Ridge,M,NaN,"No Injury, ski bitten",N,NaN,"White shark, 4 m [13']",The Citizen,1999.01.13-Ridge.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4164.0
5409,1910.00.00.a,1910,1910.0,Unprovoked,PHILIPPINES,Luzon Island,"Polinao Point, Manila",Swimming,Lieut. James H. Stewart,M,NaN,"Calf removed, not known if he survived",UNKNOWN,NaN,6 m [20'] shark,"V.M. Coppleson (1958), p.264",1910.00.00.a-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,894.0
405,2015.06.25.R,Reported 25-Jun-2015,2015.0,Provoked,AUSTRALIA,Western Australia,Rottnest Island,Swimming,Stephen,M,19,Minor lacerations to forearm when he grabbed s...,N,NaN,Wobbegong shark,"West Australian Police, 6/25/2015",2015.06.25.R-Stephen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5898.0
2431,1994.07.08.a,08-Jul-1994,1994.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Michael Post,M,15,Right calf lacerated,N,15h00,"""small shark""","P. LaMee, Orlando Sentinel, 9/4/1995, p. D3",1994.07.08.a-MichaelPost.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3872.0
4563,1947.11.14.b,14-Nov-1947,1947.0,Unprovoked,AUSTRALIA,New South Wales,"Knobby's Beach, Newcastle",Fishing from surf ski,Peter Curruthers,M,17,"No injury, ski bumped",N,Dusk,NaN,"G.P. Whitley; Barrier Miner, 11/17/1947",1947.11.14.b-Curruthers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1740.0
786,2012.06.10,10-Jun-2012,2012.0,Provoked,ITALY,Sardinia,Muravera,Attempting to rescue an injured & beached shark,Giorgio Zara,M,57,Lower left leg injured PROVOKED ACCIDENT,2017,Morning,"Blue shark, 2.5m","D. Puddo, 6/11/2012",2012.06.10-Zara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5517.0
5816,1880.08.08,08-Aug-1880,1880.0,Unprovoked,MOZAMBIQUE,NaN,NaN,Swimming to retrieve a flannel,Farejallah,M,NaN,Legs severed FATAL,Y,11h45,NaN,"Newfoundlander (NZ), 11/5/1880",1880.08.08-Farejallah.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,487.0
1923,2001.08.18.a,18-Aug-2001,2001.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Dylan Feindt,M,19,Left ankle bitten,N,10h00,"Blacktip shark, 5' to 6'","S. Petersohn, GSAF; Orlando Sentinel, 8/20/200...",2001.08.18.a-Feindt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4380.0

In [36]:
attacks.to_csv("data/attacks_clean.csv", index=False) # Exportamos el DataFrame para actualizar los datos con los avances de limpieza.

In [39]:
attacks = pd.read_csv("data/attacks_clean.csv",encoding='UTF-8') # Encoding sirve para leer el csv sin errores.

   6. Procedemos a limpiar la columna **"activity"**

Antes de nada comprobamos si hay valores NaN.

In [41]:
pd.isnull(attacks["activity"]).sum() # Encontramos 544 NaN en este columna.

544

Rellenamos los valores nulos con el string "unknown" para poder trabajar con ello.

In [42]:
attacks.activity.fillna("unknown",inplace=True)

In [43]:
pd.isnull(attacks["activity"]).sum() # Comprobamos que ya no existen valores nulos.

0

Ahora que ya no tenemos valores nulos, seguimos con la limpiexa de la columna.

In [44]:
list(attacks.activity.unique()) # Observamos una enorme cantidad de valores únicos (1533 exactamente) --> Tenemos que agrupar las actividades en un menor número de posibles valores.

['Paddling',
 'Standing',
 'Surfing',
 'Free diving',
 'Kite surfing',
 'Swimming',
 'Fishing',
 'Walking',
 'Feeding sharks',
 'Boogie boarding',
 'Scuba diving',
 'Paddle-skiing',
 'Body boarding',
 'Windsurfing',
 'Stand-Up Paddleboarding',
 'Wading',
 'Scuba Diving',
 'Kayak fishing for sharks',
 'Cleaning fish',
 'Snorkeling',
 'Spearfishing',
 'unknown',
 'Diving',
 'Fishing / Wading',
 '2 boats capsized',
 'Night bathing',
 'Surfing ',
 'Kayaking / Fishing',
 'Kayaking',
 'Body surfing',
 'Swimming, poaching abalone',
 'Canoeing',
 'SUP',
 'Skimboarding',
 'Touching a shark',
 'Fishing ',
 'Attempting to lasso a shark',
 'Photo shoot',
 'Paddle boarding',
 'Kakaying',
 'Washing hands',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Surf skiing ',
 'Surf fishing',
 'Floating',
 'Cage Diving',
 'Surfng',
 'SUP Foil boarding',
 'Lobstering',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Fishing for squid',
 'Fishing for sharks',
 'Floating in tube',
 'Teasing a shark',
 'Surf-skiing',
 'Diving for beche-de-mer',
 'Feeding stingrays?',
 'Kayak Fishing',
 'Sea disaster',
 'Lobster fishing',
 'Swimming / Wading',
 'Fishing for shrimp',
 'Photographing fish',
 'Scallop diving on hookah',
 'Treading water',
 'Body boarding ',
 'Playing in the water',
 'Body Boarding',
 'Body surfing?',
 'Playing',
 'Attempting to rescue a shark',
 'Photographing the shark',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Bodysurfing',
 'Rowing',
 'Shark fishing',
 'Surfing & filming dolphins',
 'Filming',
 'Swimming after falling overboard',
 'Diving / Filming',
 'Fishing for blue sharks',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Kayaking ',
 'Feeding fish',
 'Playing with an air mattress',
 'Kite boarding',
 'Shark diving',
 'Petting a shark',
 'Kneeling in the water',
 'Fell into the water',
 'Shark watching',
 'Diving for lobsters',
 'Kite Surfing',
 'Scuba diving / culling lionfish',
 'Kitesurfing',
 'Sailing',
 'Spearfishing / Free diving',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Attempting to remove fishing net from submerged object',
 'Kiteboarding',
 'Diving for crayfish',
 'Diving ',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Casting a net',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Walking in surf',
 'Swimming ',
 'Swimming & snorkeling',
 'Boogie Boarding',
 'Playing in the surf',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Dragging stranded shark into deeper water',
 'Bathing',
 'Bodyboarding',
 'Swimming or boogie boarding',
 'Wading or swimming',
 'Free diving ',
 'Attempting to rescue an injured & beached shark',
 'Free diving / spearfishing',
 'Crayfishing',
 'Diving, feeding sharks',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Diving, photographing sharks',
 'Wade fishing',
 'Jumping in the waves',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Floating ',
 'Swimming or Snorkeling',
 'Kayaking or Wave skiing',
 'Jet skiing',
 'Standing or boogie boardin',
 'Kite Boarding',
 'Washing sand off a speared fish',
 'Standing, holding shark pup',
 'Diving / fishing',
 'Wakeboarding',
 'Diving for abalone',
 'Shark fishing on the Ricardo Astorga',
 'Shark fishing on the Don Agustín-VI. ',
 'Attempting to fix motor',
 'Swimming /  Whale Watching',
 'Swimming after boat became disabled',
 'Rescuing',
 'Measuring sharks',
 'Swimming / treading water',
 'Surf fishing / wading',
 'Spearfishing (free diving)',
 'Paddling on kneeboard',
 'Swimming to shore from capsized kayak',
 'Paddle-boarding',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Washing his feet',
 'Paddle-surfing',
 'Crawling',
 'Diving, but on the surface when bitten by the shark',
 'Air Disaster',
 'Crabbing',
 'Yacht race',
 'Sinking of the cargo ship Mark Jason',
 'Fishing boat swamped in storm',
 'Swimming, towing surfboard',
 'Swimming or surfing',
 'Rowing an inflatable dinghy',
 'Sea Disaster',
 'Night diving',
 'Free-diving',
 'Walking out of the water after surfing',
 'Fishing from surfski',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Attempting to chase shark out to sea',
 'Fishing for snapper',
 'Removing fish from a trap',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Wading?',
 'Jumping',
 'Floating near boat & observing bioluminesce',
 'Jumped into the water',
 'Surf paddling',
 'Murder',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Shark tagging',
 'Swimming / jumping off a jetty',
 'Playing on a sandbar',
 'Shrimping',
 'Swimming / Body Surfing',
 'Playing soccer in the water',
 'Free diving / modeling',
 'Diving / Kissing the shark',
 'Lifesaving drill',
 'Touching sharks',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Night Surfing',
 'Standing / Surfing',
 'Treading water/ Surfing',
 'Removing shark from net',
 'Boogie boarding, kicked at object in the water',
 'Scuba diving in aquarium tank',
 'Holding onto an inflatable boat',
 'Swimming with boogie board',
 'Spearfishing (Free diving)',
 "Crouching in 2' of water",
 'SCUBA Diving',
 'Diving in aquarium display tank',
 'Attempting to drive shark away from sailing regatta',
 'Fishing from a kayak',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Scurfing (surfboard being  towed behind a boat)',
 'Chumming for white sharks',
 'Spearfishing/ filming',
 'Diving & fishing with net',
 'Wading / fishing & carrying a bag of fish',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'In water with diving seabirds',
 'Swimming, poaching perlemoen',
 'Boogie-boarding / swimming',
 'Free diving & spearfishing',
 'Tandem surfing',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Surf skiing',
 'Kayaking (returning from spearfishing)',
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
 'Swimming / shipwreck',
 'Surfing amid a shoal of sharks',
 'Swimming to shore from boat or kayak',
 'Sitting on surfboard',
 'Wading near a fishing net',
 'Wading to shore from his boat',
 'Standing, stepped on shark',
 'Wade-fishing',
 'Swimming, wearing black wetsuit & swim fins',
 'Walking, carrying surfboard & stepped on shark',
 'Swimming with pod of dolphins',
 'Killing  sharks',
 'Swimming (using a float)',
 'Petting captive sharks',
 'Unknown',
 "Fishing, standing in 2' of water",
 'Fishing from Surfboard',
 'Boogie boarding or Surfing',
 'Wading, when he stepped on the shark',
 'Shark Fishing',
 'Attempting to retreive a dinghy',
 'Snorkeling (filming the sardine run)',
 'Floating on a raft',
 'Fishing, removing the shark from his line',
 'Playing in the surf with his 2 dogs',
 'Collecting beche-de-mer',
 'Fishing from prawn trawler',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Fishing (Drowned 2-Apr-2002)',
 'Surfing, but standing in water alongside board',
 'Body-boarding',
 'Swimming /  boogie boarding',
 'Capsized fishing boat',
 'Kite-Boarding',
 'Surfing, fell off surfboard & stepped on the shark.',
 'Wreck / Technical diving',
 'Walking in shallows',
 'Fell off banana boat',
 'Floating face-down in knee-deep water',
 'Hiking on the beach',
 'Spearfishing, carrying his catch',
 'Standing alongside surfboard',
 'Batin',
 'Attempting to catch a crocodile',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for whiting',
 'Swimming back from anchored sailboat',
 'Diving for sea urchins',
 'Diving (shell maintenance)',
 'Shipwrecked',
 'Fell onto dead shark',
 'Standing / surfing',
 'Swimming / Body surfing',
 'Conducting research',
 'Swimming out to porpoises ',
 'Windsurfing, but sitting on his board',
 'Surfing / Wading',
 'Attempting to illegally enter the USA',
 'Spearfishing, holding mesh bag with speared fish',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Boogie boarding / wading',
 'Feeding prawns to captive sharks',
 'Canoe with 3 men onboard sank',
 'Fishing for tarpon',
 'Surfing (sitting on his board)',
 'Spearfishing, but swimming at surface',
 'Surfing, lying on surfboard',
 'Wading to shore after surfing',
 'Wading with surfboard',
 "Lying prone in 2' of water",
 'Spearfishing & holding catch',
 'Swimming with dolphins',
 'Wading in school of baitfish',
 'Adrift in a life jacket',
 'Splashing / wading',
 'Swimming after being swept into sea by a large wave',
 'Spearfishing & diving for paua',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Swimming, towing a kayak',
 'Body surfing or body boarding',
 'Swimming near pod of whales',
 'Cruising',
 'Paddle Skiing',
 'Inflatable boat',
 'Splashing',
 'Fishing for tuna',
 'Fishing / washing bait off hands',
 'Moving a shark in a net ',
 'Surfing (or body boarding)',
 'Free diving for abalone',
 'Swimming / surfing',
 'Towing rubber dinghy',
 'Surfing (lying prone on his board)',
 'Snorkeling \x96 hunting crayfish and abalone',
 'Swimming or paddle boarding',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Scuba diving (submerged riding a scooter)',
 'Body boarding or surfing',
 'Fishingat',
 'Walking / surfing',
 'SCUBA diving',
 'Floating on raft',
 'Wading / Surfing',
 'Fishing for octopus',
 'Spearfishing / night diving',
 'Body surfing, stood up on sandbar',
 'Rowing ',
 'Watching seals',
 'Attempting to attract dolphins',
 'Swimming or snorkeling',
 'Surfing / Swimming',
 'Free diving with a pod of dolphins',
 'Tech diving ',
 'Shell Diving',
 'Swimming breast stoke',
 'Fishing in knee-deep water',
 'Dived naked into the water on a bet',
 'Swimming in fish tank',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Swimming with mask & snorkel',
 'Chumming for sharks',
 'Diving, gathering shellfish',
 'Fell off aircraft carrier',
 'Playing / standing',
 'Abalone diving using Hookah (near calving whales)',
 'Abalone diving using Hookah (resting on the surface)',
 'On a float',
 '"Riding waves on a board"',
 'Jumped off surfboard & landed on the shark',
 'Scuba diving (ascending using scooter)',
 'Playing / jumping',
 'Sleeping in anchored boat',
 'Scuba diving for bivalves',
 'Wind surfing',
 'Surfing, sitting on board',
 'Murder victim',
 'Commercial diver (submerged or treading water)',
 'Surfing, paddling seawards',
 'Adrift on refugee raft',
 'Jumped off rocks into white water',
 'Freediving for seashells',
 'Swimming alongside NOAA research vessel Discoverer',
 'Removing shark from tank in nightclub ',
 'Swimming, after falling off towed kneeboard',
 'Playing volleyball with friends',
 'Hookah diving',
 'Surfing, paddling shorewards',
 'Stamding',
 'Watching the shark feeding on a dead pinniped',
 'Riding floatation device',
 'Free diving for abalone (ascending)',
 'Fishing for lobsters',
 'Oyster fishing',
 'Paddling on surfboard or body board',
 'Scuba diving at seal colony',
 'Floating on his back',
 'Paddling on surfboard',
 'Free diving & spearfishing (ascending)',
 '   ',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Lying on surfboard',
 'Spearfishing / free diving',
 'Scuba diving (submerged)',
 'Hookah diving for sea urchins',
 'Snorkeling, carrying a speared fish in her hand',
 'Fell from cliff while fishing & disappeared in strong current',
 'Fisherman',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Preparing to fish for jack-mackerel',
 'Scuba diving ',
 'Scuba diving & filming',
 'Hookah diving for pen shells ',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Diving for pen shells',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Finning the shark that bit him',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Swimming behind sailboat',
 'Surfing, collided with shark',
 'Surfing (or sailboarding)',
 'Scuba diving (but on surface)',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'Snorkeling, possibly holding a fish',
 'Resting on surfboard',
 'Lying on surfboard & paddling',
 'Free diving for trochus',
 'Scuba diving & spearfishing',
 'Board sailing',
 "On board 51' fishing vessel One Ki",
 'Wading, knocked down & swept away by large waves',
 'Swimming in canal',
 "Fishing, stepped on hooked shark's head",
 'Observing a shark feeding on a carcass of a humpback whale',
 'Hookah diving for abalone (descending)',
 "Filming 5' blue shark",
 'Playing ',
 "Fell off surfboard 20' from shore",
 'Windsurfing (urinating on his board)',
 'Scuba diving, but swimming on surface',
 'Swimming in strong current with 3 others when he disappeared',
 'Surfing with dolphins',
 'Scuba diving, hand feeding sharks',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'Skindiving',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 "Diving in Sharkey's Reef restaurant\x92s aquarium",
 'Free diving & spearfishing ',
 'Spearfishing on scuba',
 'Sittting in water with his child',
 'Shell diving',
 'Surfing / treading water',
 'pêcheur de bichiques',
 "Onboard 21' powerboat that capsized in rough seas",
 'Standing ',
 'Lying atop surfboard',
 'Drift fishing',
 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Vessel caught fire & capsized, survivors in the water',
 'Scuba Diving for scallops',
 'Dropping anchor',
 'Swimming from shore to anchored sailboat',
 'The inter-island ferry Vula sank in heavy weather',
 'Jumped into the water from a cliff',
 'Boat',
 'Adrift after ditching plane in the sea',
 'Free diving  & spearfishing (submerged)',
 'NSB Meshing',
 'Racing ski',
 'Fishing, fell from rocks & disappeared',
 'Hookah diving for abalone',
 'Floating on inner tube after diving for lobster',
 'Free diving & spearfishing (descending)',
 'Bottom fishing for lingcod & had hooked a fish',
 'Playing in knee-deep water',
 'Surfing, but lying prone on his board',
 'Free diving for scallops',
 'Scuba Diving for lobster (at surface)',
 'Investigating shark sighting',
 'Sailing on catamaran & fell into the water',
 'Surfing or body surfing',
 'Free diving , but surfacing',
 'Boat capsized?',
 'Sea disaster, foundering of the cargo vessle M/V Dorolonda',
 "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
 'Towing her sister on plastic ski board',
 'Steinhart Aquarium',
 'Scuba diving for abalone',
 'Ferry boat sank',
 'Swimming from the New Venture ',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Floating on air mattress',
 'Surfing & dangling foot in water amid baitfish',
 'Water-skiing',
 'Paddleskiing',
 'Ran into the water',
 'In waist-deep water',
 'Free diving for abalone from Zodiac (submerged)',
 'Paddle Boarding',
 'Spearfishing ',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Fishing on a boat',
 'Spearfishing, but swimming on surface',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 "Diving to untangle a crab trap line from boat's propeller",
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'Snorkeling on surface',
 'Catching sardines',
 'Scuba diving, reportedly also spearfishing',
 'Foundering of the Israeli freighter Mezada',
 'Standing / Wading',
 'Free diving Spearfishing',
 'Exercising his dog in the shallows',
 'Commercial spearfishing',
 'Free diving / spearfishing, ',
 'Diving in tuna net',
 'Resting on body board',
 'Skin diving',
 'Sinking of the ferryboat Don Juan',
 'Sinking of the ferryboat Bongbong 1',
 'Hookah Diving',
 'Gaffing netted shark',
 'Freedom swimming',
 'Murdered by Thai pirates',
 'Floating with life preserver after his boat foundered',
 'Floating on inner tube raft',
 "Explosion destroyed 28' boat, survivors in the water ",
 'Fishing for mackerel',
 'Swimming, after single-engine aircraft went down in the sea',
 'Fishing for bottom fish',
 'Floating on an inflatable raft',
 'Free diving for abalone (surfacing)',
 "40' fishing boat sank",
 'Spearfishing / Scuba diving',
 'Collecting fish from net',
 'Fishing for yellowtail',
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'Hookah diving for abalone (submerged)',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Fishing for white shark',
 'Shipwreck',
 'Skindiving,',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Surfing, fell off surfboard',
 "Sitting in bow of her father's 5 m boat",
 'Competing in a light tackle game fishing',
 'Fishing for snoek & yellowtail',
 'Spearfishing / scuba diving',
 'Attempting to drive shark away from the beach',
 'Filming & feeding captive sharks',
 'Floating on a small orange raft ',
 'Scuba diving for abalone (at surface)',
 'Swimming near his boat',
 'Spearfishing Competition',
 'Floating in inner tube',
 'Diving & force-feeding the shark',
 'Attempting to drag hooked shark ashore by its tail',
 'Ferry capsized',
 'Swimming underwater from crayfish cage to a fishing bait',
 '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
 'Freedom Swimming',
 'Free diving for abalone (submerged)',
 'Adrift after the sinking of the motor yacht Princess Dianne',
 'Free diving (but on surface)',
 'Fishing boat swamped in a storm',
 'Fishing for kob',
 'Fishing for red fish',
 'Sitting',
 'Swimming alongside yacht Mexico Fiesta',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'Free diving, Spearfishing',
 'Crabbing (spearing crabs)',
 'Fishing from paddleski',
 'Scuba diving & U/W photography',
 'Sitting in shallows',
 'Free diving, collecting shells',
 'Scuba diving & feeding fish',
 'Hookah diving (submerged)',
 'Wreck of the 1689-ton Portuguese  coaster Angoche',
 'Fishing for prawns',
 'Sea Disaster Sinking of ferryboat Christina',
 'Motor launch Baby Princesa capsized with 22 people on board',
 'Freediving',
 'Air disaster',
 'Attempted to return injured shark to the sea',
 'Spearfishing / freediving',
 'Washing cooking pans',
 'Washing clothes on stairs',
 'Fishing, trying to catch the end of his fishing line',
 'Scuba diving for lobsters',
 'Freediving for abalone (at surface)',
 'Surf-fishing',
 'Netting pilchards',
 'Hard hat diving',
 'Sight-seeing',
 'Feeding mullet to sharks',
 'Wreck of the Storm King',
 'Spearfishing using Scuba',
 'Sinking of the ferryboat Dumaguete ',
 'Playing with a frisbee in the shallows',
 'Leaving the water',
 'Dynamite fishing',
 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
 'Clamming',
 'Schooner sank during a storm',
 'Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws',
 'Wading & pushing dinghy toward  the shallows',
 'Picking up shark by the tail',
 'Swimming after his canoe capsized',
 'Sinking of the M/V Mindoro during a typhoon',
 'Standing on sandbar',
 "Boat capsized between O'ahu & Molokai",
 'Pulling shark from the water',
 'Spearfishing on Scuba',

Para empezar, establecemos las siguientes categorías y coincidencia básicas para cada categoría:

    - Surfing = todo lo que contenga "surf", "wave" o "board" (todo lo que sea con una tabla o relacionado con las olas, sin distinguir entre disciplinas o tipos de surf).
    
    - Swimming = todo lo que contenga "swim" o "snorkel".
    
    - Diving = todo lo que contenga "diving" (sin distinguir el tipo de buceo).
    
    - Fishing = todo lo que contenga "fish".
       
    - Shark Activities = todo lo que contenga "sharks" (relacionado con los tiburones).
    
    - Saling = todo lo que contenga "boat", "ship", "ferry", "raft", "rowing", "paddling", "kayak" (sin distinguir entre embarcaciones).

Generaremos primero estas 5 categorías básicas agrupadas y valoraremos la situación después de hacerlo.

El orden de ejecutar el .replace será importante ya que algunos valores comparten palabras clave de distintas categorías ("swim" y "fish", por ejemplo) y el replace definitivo será el primero que se ejcute.

In [45]:
def activities (i):
    if 'surf' in str(i).lower():
        return 'surfing'
    
    elif "wave" in str(i).lower():
        return 'surfing'
    
    elif "board" in str(i).lower():
        return 'surfing'
    
    
    elif "swim" in str(i).lower():
        return 'swimming'
    
    elif "snorkel" in str(i).lower():
        return 'swimming'
    
    elif "bath" in str(i).lower():
        return 'swimming'
    
    
    elif "diving" in str(i).lower():
        return 'diving'
    
    
    elif "fish" in str(i).lower():
        return 'fishing'
    
    
    elif "shark" in str(i).lower():
        return 'shark_activities'
    
    
    elif "boat" in str(i).lower():
        return 'sailing'
    
    elif "ship" in str(i).lower():
        return 'sailing'
    
    elif "ferry" in str(i).lower():
        return 'sailing'
    
    elif "raft" in str(i).lower():
        return 'sailing'
    
    elif "rowing" in str(i).lower():
        return 'sailing'
    
    elif "paddling" in str(i).lower():
        return 'sailing'
    
    elif "kayak" in str(i).lower():
        return 'sailing'
    
    
    else:
        return str(i).lower()

In [46]:
attacks["activity"] = attacks["activity"].apply(activities)

Observamos como la cantidad de valores únicos se ha reducido a menos de un cuarto (hemos limpiado casi 1.200 valores asignándolos a una nueva categoría), lo cual supone un avance importante en la limpieza de los datos de la columna "activity".

In [47]:
len(list(attacks.activity.unique()))

355

In [48]:
attacks.activity.unique()

array(['sailing', 'standing', 'surfing', 'diving', 'swimming', 'fishing',
       'walking', 'shark_activities', 'paddle-skiing', 'wading',
       'unknown', 'canoeing', 'sup', 'photo shoot', 'kakaying',
       'washing hands', 'floating', 'lobstering', 'floating in tube',
       'feeding stingrays?', 'sea disaster', 'treading water',
       'playing in the water', 'playing', 'sitting in the water',
       'filming', 'standing in inner tube',
       'playing with an air mattress', 'kneeling in the water',
       'fell into the water', 'filming a documentary', 'casting a net',
       'standing, collecting sea stars', 'floating ', 'jet skiing',
       'attempting to fix motor', 'rescuing', 'washing his feet',
       'crawling', 'air disaster', 'crabbing', 'yacht race', 'wading?',
       'jumping', 'jumped into the water', 'murder',
       'playing on a sandbar', 'shrimping', 'playing soccer in the water',
       'lifesaving drill', "crouching in 2' of water",
       'swept out to sea by the tsunami, she clung  to a log for 24 hours',
       'air disaster. flash airlines boeing 737 crashed into the red sea',
       'attempting to retreive a dinghy', 'collecting beche-de-mer',
       'walking in shallows', 'floating face-down in knee-deep water',
       'hiking on the beach', 'batin', 'attempting to catch a crocodile',
       'conducting research', 'attempting to illegally enter the usa',
       "lying prone in 2' of water", 'adrift in a life jacket',
       'splashing / wading',
       "scientific research (dr. sonny gruber's student)", 'cruising',
       'paddle skiing', 'splashing', 'towing rubber dinghy',
       'watching seals', 'attempting to attract dolphins',
       'dived naked into the water on a bet',
       'boeing 757 enroute from porta plata plunged into the sea',
       'playing / standing', 'on a float', 'playing / jumping',
       'murder victim', 'commercial diver (submerged or treading water)',
       'jumped off rocks into white water',
       'playing volleyball with friends', 'stamding',
       'riding floatation device', 'floating on his back', '   ',
       'playing ',
       'the christie v sank on 11/6/1988, survivors were adrift on a dinghy',
       'the mv dona marilyn sank in typhoon unsang with the loss of 389 lives',
       'sittting in water with his child', 'pêcheur de bichiques',
       'standing ',
       'vessel caught fire & capsized, survivors in the water',
       'dropping anchor', 'jumped into the water from a cliff',
       'adrift after ditching plane in the sea', 'nsb meshing',
       'racing ski', 'playing in knee-deep water',
       'sailing on catamaran & fell into the water',
       'sea disaster, foundering of the cargo vessle m/v dorolonda',
       'steinhart aquarium',
       '14 m prawn trawler new venture capsized  & sank in heavy seas three people in the water',
       'floating on air mattress', 'water-skiing', 'paddleskiing',
       'ran into the water', 'in waist-deep water', 'catching sardines',
       'foundering of the israeli freighter mezada', 'standing / wading',
       'exercising his dog in the shallows', 'murdered by thai pirates',
       'their 9 m launch was run down by a 25,000-ton japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
       '3,909-ton panamanian freighter chieh lee sank in a typhoon',
       'floating in inner tube',
       'adrift after the sinking of the motor yacht princess dianne',
       'sitting', 'crabbing (spearing crabs)', 'sitting in shallows',
       'wreck of the 1689-ton portuguese  coaster angoche',
       'washing cooking pans', 'washing clothes on stairs',
       'netting pilchards', 'sight-seeing', 'wreck of the storm king',
       'playing with a frisbee in the shallows', 'leaving the water',
       'clamming', 'schooner sank during a storm',
       'wading & pushing dinghy toward  the shallows',
       'sinking of the m/v mindoro during a typhoon',
       'standing on sandbar', 'beach seine netting',
       'vehicle plunged over cliff into the water',
       'sinking of the dredge world atlas', 'overturned skiff',
       'colombian  (avianca) dc-4 airliner plunged into the sea 5 minutes after takeoff',
       'argentine air force c-54', 'arsinoe, a french tanker',
       'walking on reef', 'dangling feet in the water',
       'collecting marine specimens', 'standing in waist-deep water',
       'filming underwater, carrying powerhead',
       'floating on his back in an inner tube',
       'searching for remains of  dr. marais',
       'conducting a promotional film project for the gemini space program (a practice astronaut recovery)',
       'canoe capsized with 10 occupants, 8 survived,  hamilton swam off to seek help',
       'lying in 2 feet of water',
       'treading water while alongside capsized yacht',
       'seining for bait, standing in chest-deep water',
       'washed into sea while picking opihi',
       'the 500-ton coastal trader polurrian foundered ',
       'dived from inner-tube',
       'u.s. airforce crewman reported missing after bailing out of jet',
       'escaping from alacatraz', 'washing',
       '25-foot cabin cruiser happy jack sank in heavy seas',
       'splashing ', 'gathering shells', 'attaching a line at sea',
       'walking in chest-deep water', 'floating on back',
       'cleaning a tank', 'collecting aquarium specimens',
       'pacific seafarer of us navy', 'ocean racing',
       'hand lining for shad', 'collecting shells',
       'air disaster: crash of air france super constellation ',
       'standing in knee-deep water',
       'testing classified underwater electronic gear for raytheon corporation, vessel torn apart by explosion',
       's2f-1 airplane crashed immediately after carrier take-off',
       'standing, watching seine netters',
       'dived from dinghy to retrieve oar in heavy seas',
       'standing in chest-deep water',
       "adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
       'gigging for flounder', 'pulling anchor',
       'columbian petrol barge rio atrato burned and sank',
       'working prawn net', 'dragging banana seeds through the shallows',
       'm.v. tropical sank. sole survivor rode oil drums for 8 days without food or water.',
       '3 men & 2 boys picked up wearing life jackets and with inner tube',
       'air/sea disaster',
       'attempting to set underwater endurance record', 'hunting turtle',
       "competing in u/w endurance record, standing beside drum in 10' of water",
       'hunting lobsters in 2.4 m of water',
       'crossing the bay at the ford',
       'american freighter mormackite, bound from buenos aires for baltimore, capsized & sank in heavy seas',
       'crouching in the water', 'aircaft exploded',
       'body found on deserted luxury yacht, 38\x92 christine',
       'swept off deck of s.s.frontenac enroute from west indies to us',
       'survived crash of two-engine  c-46 transport plane carrying 62 migrant workers from puerto rico to usa ',
       'suicide', 'sitting on side of dinghy mending a net',
       'defecating in water beneath the docks', 'bending over',
       "lying on the bottom of a 16' dinghy", 'no details',
       'lifesaving exhibition', 'leicester abandoned in a hurricane',
       'underwater photography', 'jumping in swells',
       'american cruiser indianapolis torpedoed & sunk by the japanese submarine i-58',
       '90 european civilians, many women & children, were placed on the deck of a japanese submarine that submerged when it was well offshore',
       'playing on rock, slipped & fell into the water',
       'uss gambier bay cve-73  shelled & sunk  at 09h57 on 10/24/1944, by japanes fleet enroute to attack the allied landing force at leyte.',
       'parachuted into pacific',
       'the cuban freighter libertad was torpedoed and sunk by the german submarine u-129',
       'the 6711-ton american freighter & troop transport cape san juan was torpedoed by the japanese submarine i-21',
       's2n navy scout plane went down, e.h. almond & lieut a.g. reading in water',
       'the 3540-ton alfonso penna was torpedoed & sunk by the italian submarine barbarigo',
       'known as the battle of the bismarck sea :  8 japanese destroyers guarding a convoy of 8 transports were attacked by 129 allied fighters, 207 bombers & 3 squadrons of the royal australian air force. ',
       'the uss wahoo torpedoes & sank the japanese troop transport buyo maru',
       'thrown from destroyer when shell hit',
       'explosion & sinking of the uss juneau after being torpedoed by the submarine  i-85',
       'in rubber dinghy with captain eddie rickenbacker for 21 days. ',
       'the ss potlach was torpedoed & sunk by the u-153 on 27-jun-1942. ',
       'sculling',
       'h.m.s. cornwall & h.m.s.dorsetshire sunk by japanese dive bombers. officers & men in the water formed a circle with 60 of their dead in the center for 36 hours',
       'esso bolivar was torpedoed & shelled by the german submarine u-126',
       "days before the surrender of singapore, the 3 men escaped to sumatra where they acquired a 17' dinghy. after 125 days at sea they drifted back to sumatra",
       'torpedoed & burning british  light cruiser with a crew of 450 men',
       'hmas parramatta torpedoed & sunk by the u-559',
       'british cruiser dunedin torpedoed & sunk by the u-124',
       'german raider kormoran was sunk in an engagement with hmas sydney',
       'ss ethel skakel foundered in central america hurricane of 1941',
       'seine netting', 'slipped off rocks and fell into the water',
       'standing on sandbank', 'dived into the water', 'male',
       'standing in water with child in her arms',
       'japanese freighter bokuyo maru burned & sank', 'dived for a coin',
       'scooping prawns',
       'the schooner elizabeth, bound from bluefields, nicaragua to the river port of san carlos foundered',
       'tzenny chandris, a greek freighter laden with scrap iron, foundered in heavy weather',
       'wreck of a sampam',
       'disappeared 11 days earlier, probable homicide victim',
       'taken as he dived into the water',
       'dived into sea from launch & bitten immediately',
       'splashing in water ', "sitting in 3' of water",
       'yacht of michael howell capsized', 'standing on his hands',
       'catching a turtle',
       'on expedition filming a feature movie & standing on tripod',
       'sea disaster, wreck of the  ss norwich city',
       'fell from wharf into water & attacked immediately',
       'sea disaster, sinking of the  ss vestris',
       'retrieving meat from a cage in the water',
       'italian liner principessa mafalda sank',
       'riding horseback across the creek',
       'standing, collecting bananas',
       'attempting to rescue drowning man', 'jumped out of canoe',
       'inebriated, woke from sleep and fell off deck into the water ',
       'floating, after falling or jumping off the standard oil tanker frederick w. weller',
       'dry shelling', 'seaplane columbus ditched in the sea',
       "fell from his father's back into the water",
       'wading to dinghy, carrying his son',
       'the coastwise steamer san basilio capsized in a typhoon',
       'floating face down', 'knocked into the water', 'cutter capsized',
       'wading (shrimping)', 'wreck of the tug magellan',
       'taking wife to beach & about 1 m from the shore',
       'netting shrimp', 'washing clothes', 'hauling in net',
       '3-masted steel barque glenbank foundered during a cyclone',
       'on december 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in silcily and southern italy, killing more than 100,000 people',
       'fell from the jetty',
       'the 168-ton belmore foundered in heavy seas',
       'the british steamer caribbee foundered', '.', 'floating in creek',
       'the schooner tahitienne foundered in a hurricane',
       'washing horses', 'floating or standing', 'harpooning turtles',
       'catching crabs', 'hunting seashells', ' ',
       'standing, gathering oysters',
       'the cutter francis adams foundered', 'sponge divers',
       'trailing hand in the water', 'loss of the schooner nomad',
       'angling', 'hunting seals',
       'sea disaster : wreck of the carrie e. long',
       '"crossing the river"', 'a barque wrecked',
       'hms victoria collided with the hms camperdown', 'canoe swamped',
       'his balloon crashed in the harbor', 'murdered', 'riding a horse',
       ' a canoe was pursuing a schooner that had forcibily abducted 5 young girls',
       'sea disaster, canoes capsized in storm', 'fleeing across a river',
       'treading for clams', 'parachuted from balloon',
       'working on the bridge when he fell into the river',
       'probabable drowning', 'the dwarka foundered',
       'the cutter yacht cutty sark sank', 'crossing the river mouth',
       'sea disaster, wreck of the alfred watts',
       'sea disaster, wreck of the sloop sara', 'oystering',
       'sea disaster : wreck of the taiaroa',
       'wreck of the schooner pohoiki ', 'yachting accident',
       'floating, holding onto an oar after dory capsized',
       'floating with life buoy after pilot launch capsized',
       'escaping from blackbirding vessel',
       'burning of the s.s. missouri', 'wreck of the 150-ton brig maria',
       'a junk foundered', 'wreck of the aphrodite',
       'coming ashore on a hawser', 'reaching for life preserver',
       'trying to catch a wounded bird', 'deserting the bark nazarene',
       '43-ton schooner irene capsized & sank',
       'vessel capsized, wading ashore carrying an oar', 'hilo',
       'wreck of the sovereign', 'wreck of the tweed',
       'wreck of the uss somers', 'jumped into river',
       'unknown, but it was said to be the "first known attack in sydney harbour"',
       'hooking into a whale', 'american schooner orator capsized  ',
       'washing a dog', 'wreck of the schooner driver',
       'hbm magpie foundered in a squall', 'conch diver',
       'washing himself', 'ascending from a dive',
       'washing his pig in preparation for a religious ceremony',
       'a dhow capsized', 'yachtsman in a zodiac',
       'lashing logs together when he fell into the water',
       'standing, washing rear wheels of his ambulance in ankle-deep water',
       'spent 8 days in dinghy', 'wreck of  large double sailing canoe'],
      dtype=object)

Como podemos observar, el resto de actividades son muy variadas y no tiene demasiado sentido clasificarlos en grupos de actividades.

Tras valorar la situación, decidimos incluir todos estos valores en una nueva categoría llamada "other" que englobe a todas las actividades no incluídas en las otras categorías básicas.

Volvemos a definir la función activities() incluyendo esta nueva consideración:

In [49]:
def activities (i):
    if 'surf' in str(i).lower():
        return 'surfing'
    
    elif "wave" in str(i).lower():
        return 'surfing'
    
    elif "board" in str(i).lower():
        return 'surfing'
    
    
    elif "swim" in str(i).lower():
        return 'swimming'
    
    elif "snorkel" in str(i).lower():
        return 'swimming'
    
    elif "bath" in str(i).lower():
        return 'swimming'
    
    
    elif "diving" in str(i).lower():
        return 'diving'
    
    
    elif "fish" in str(i).lower():
        return 'fishing'
    
    
    elif "shark" in str(i).lower():
        return 'shark_activities'
    
    
    elif "boat" in str(i).lower():
        return 'sailing'
    
    elif "ship" in str(i).lower():
        return 'sailing'
    
    elif "ferry" in str(i).lower():
        return 'sailing'
    
    elif "raft" in str(i).lower():
        return 'sailing'
    
    elif "rowing" in str(i).lower():
        return 'sailing'
    
    elif "paddling" in str(i).lower():
        return 'sailing'
    
    elif "kayak" in str(i).lower():
        return 'sailing'
    
    
    else:
        return "other"

In [50]:
attacks["activity"] = attacks["activity"].apply(activities)

Observamos como ya no existen valores que no coincidan con una de las 6 categorías previamente definidas.

In [51]:
len(list(attacks.activity.unique()))

6

In [52]:
attacks.activity.unique()

array(['other', 'surfing', 'diving', 'swimming', 'fishing',
       'shark_activities'], dtype=object)

Ya tenemos los datos de la columna "activity" preparados para poder trabajar con ellos y comprobar nuestra primera hipótesis.

  
  
  7. Procedemos a limpiar la columna **"fatal_y/n"**

Nos damos cuenta de que el caracter "/" da problemas a la hora de trabajar con el nombre de la columna.

Cambiamos el nombre para arreglarlo:

In [53]:
rename = {"fatal_y/n" : "fatal_y_or_n"}

attacks.rename(columns = rename, inplace=True)

In [54]:
attacks.sample()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_or_n,time,species,investigator_or_source,pdf,href_formula,href,original_order
5094,1928.12.21,21-Dec-1928,1928.0,Unprovoked,AUSTRALIA,NaN,NaN,diving,Rueben,M,NaN,Injuries to arm,N,NaN,NaN,"V.M. Coppleson (1958), p.242",1928.12.21-Rueben.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1209.0

Extraemos los valores únicos en esta columna y observamos que existen diferentes posibles valores (y entre ellos valores NaN). 

Procedemos a arreglar este problema:

In [55]:
list(attacks.fatal_y_or_n.unique())

['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y']

Primero procedemos a estandarizar los values con errores de escritura a "N" o "Y".

In [56]:
def standar (i):
    if 'N' in str(i).upper() and "UNKNOWN" not in str(i).upper() and "NAN" not in str(i).upper():
        return 'N'
    
    elif 'Y' in str(i).upper():
        return "Y"
    
    else:
        return str(i).upper()

In [57]:
attacks["fatal_y_or_n"] = attacks["fatal_y_or_n"].apply(standar)

Extraemos los valores únicos que tenemos ahora:

In [58]:
list(attacks.fatal_y_or_n.unique())

['N', 'Y', 'NAN', 'M', 'UNKNOWN', '2017']

Hemos resucido los valores únicos al corregir los errores de escritura.

Ahora tenemos los siguientes inconvenientes:

    - Existe al menos un valor "2017" y otro valor "M".
    
    - Los valores NaN son ahora "NAN" por la ejecución de la función anterior. Esto puede ser un inconveniente, pero como vamos a querer sustituirlos por otro valor, esto no debería influir en la limpieza (esto en realidad ha sido un error en la función, pero trataremos de seguir trabajando a pesar de ello (también podríamos volver a ejecutar el código)).

Comprobamos la cantidad de datos que existen para cada valor:

In [59]:
attacks["fatal_y_or_n"].value_counts()

N          4301
Y          1389
NAN         539
UNKNOWN      71
M             1
2017          1
Name: fatal_y_or_n, dtype: int64

Como solo existe un "2017" y un "M", decidimos incluirlos en "UNKNOWN" (podríamos deducir que "M" se refiere a "N", pero al ser un único valor quizá sea mejor no tener esto en cuenta y tratar de evitar interpretaciones personales).

In [60]:
def unknown (i):
    if i == "M":
        return "UNKNOWN"
    elif i == "2017":
        return "UNKNOWN"
    else:
        return i

In [61]:
attacks["fatal_y_or_n"] = attacks["fatal_y_or_n"].apply(unknown)

In [62]:
list(attacks.fatal_y_or_n.unique())

['N', 'Y', 'NAN', 'UNKNOWN']

In [63]:
attacks.to_csv("data/attacks_clean2.csv", index=False) # Exportamos el DataFrame para actualizar los datos con los avances de limpieza.

In [64]:
attacks = attacks = pd.read_csv("data/attacks_clean2.csv",encoding='UTF-8')

Ahora ya solo nos queda el problema de los "NAN".

En esta columna solo hay dos posibles valores: fatal attack = yes (Y) o fatal attack = no (N).

No tiene sentido rellenar estos valores nulos con "Y" o "N" según lo consideremos. Sin embargo, nos damos cuenta de que en todos aquellos registros en los que el valor de la columna "injury" contiene "fatal", la columna "fatal_y_or_n" contiene el valor "Y". Este es el único criterio que podemos seguir, ya que no podemos entrar a valorar la gravedad del ataque según la información recogida en "injury".

Decisión --> rellenar los NaN con:
   - "Y" si el valor de "injury" contiene "fatal".
   - "UNKNOWN" si el valor de "injury" no contiene "fatal".

In [122]:
attacks["fatal_y_or_n"].value_counts()

N          4301
Y          1389
NAN         539
UNKNOWN      73
Name: fatal_y_or_n, dtype: int64

In [124]:
for i,row in attacks.iterrows(): # Muy interesante .iterrows() para ir iterando por todas los valores de cada fila.
    if ("fatal" in str(row["injury"]).lower()) & (row["fatal_y_or_n"]=="NAN"): # Si se cumplen las dos condiciones que queremos ("injury" contiene "fatal" y "fatal_y_or_n" es igual a "NAN")
        attacks.loc[i, "fatal_y_or_n" ] = "Y" # Sustituimos el valor en "fatal_y_or_n" ("NAN") por "Y" (esta sintaxis la hemos obtenido a través las sugerencias que nos daban en un error que hemos obtenido previamente).
        
    else:
        pass # Si las condiciones no se cumplen queremos que todo se mantenga como está.

Observamos como la cantidad de "NAN" ha reducido. Esto indica que hemos conseguido lo que queríamos (sustituir los valores "NAN" por "Y" si la columna "injury" contiene "fatal".

In [125]:
attacks["fatal_y_or_n"].value_counts()

N          4301
Y          1441
NAN         487
UNKNOWN      73
Name: fatal_y_or_n, dtype: int64

Ahora cambiaremos el resto de valores "NAN" por "UNKNOWN" porque no podemos garantizar que no contaminamos los datos si los incluimos en alguna otra categoría (no tenemos información veraz para incluirlos en "Y" o "N").

In [127]:
def unknown2 (i):
    if i == "NAN":
        return "UNKNOWN"
    else:
        return i

In [128]:
attacks["fatal_y_or_n"] = attacks["fatal_y_or_n"].apply(unknown2)

Observamos como todos los valores que antes eran "NAN" se han reemplazado por "UNKNOWN".

In [129]:
attacks["fatal_y_or_n"].value_counts()

N          4301
Y          1441
UNKNOWN     560
Name: fatal_y_or_n, dtype: int64

Ya tenemos los datos de la columna "fatal_y_or_n" preparados para poder trabajar con ellos y comprobar nuestra segunda hipótesis.

In [130]:
attacks.to_csv("data/attacks_clean_def.csv", index=False) #Exportamos el DataFrame limpio.

En principio, con tener las columnas "activity" y "fatal_y_or_n" completamente limpias ya sería suficiente para poder generar visualizaciones y comprobar las hipótesis planteadas.

Aunque también hemos hecho una pequeña limpieza general, es cierto que el resto de columnas siguen estando bastante sucias. Aun así, por motivos de optimización de tiempo, empezamos a trabajar con estos datos y ya después, si queremos, seguiremos limpiando el resto de columnas del DataFrame.

Si después de cubrir los objetivos del proyecto (comprobar si las hipótesis se cumplen o no se cumplen) seguimos teniendo tiempo, podremos seguir depurando los datos.